<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <!-- Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Div app -->
    <div id="app">
        <h1>
            ToDo List
        </h1>
        <main class="wrapper">
            <div class="taskbar">
                <input type="text" class="new-todo-element" name="userTodo" id="userTodo" v-model="element" @keyup.enter="newElement(element)">
                <button @click="newElement(element)">Aggiungi</button>
            </div>
            <ul class="todo-list" v-if="todoList.length > 0">
                <li class="todo-item" v-for="(todoElement, index) in todoList">
                    <p :class="(todoElement.done === true) ? 'text-through' : '' ">
                        {{ todoElement.text }}
                    </p>
                    <span>
                        <i class="fa-solid fa-check" :class="(todoElement.done === true) ? 'green' : '' " @click="doneOrNot(todoElement)"></i>
                        <i class="fa-solid fa-x" @click="removeTodoElement(index)"></i>
                    </span>
                </li>
            </ul>
            <ul class="todo-list" v-else>
                <p>
                    Hai finito tutte le missioni del giorno...Forza aggiungi nuove sfide!
                </p>
                <img src="https://steamuserimages-a.akamaihd.net/ugc/884104767788743201/BCEA17C2B9D8A6B4EE3A9DA85B828C82F28BC4C0/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="">
            </ul>
            
        </main>
    </div>

    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>